@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body { 
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

a:link, a:visited { 
	text-decoration: none;
	color: #0000AA;
}

a:hover, input:focus { 
	color: #0000EE;
}

h1, h2, h3, h4 {
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
}

h1 { 
	font-size: 300%;
	margin: 0px 0px 0px 0px;
}

h2 {
	font-size: 150%;
	color: #505050;
	margin: 0px 0px 0px 0px;
}

h3 {
	font-size: 125%;
	color: #505050;
}

main {
	background-image: url('../img/ricepaper_v3.png');
	opacity: 0.9;
}

header {
	padding: 1em;
	background-color: #FA5A0F;
	border-bottom-style: solid;
	bottom-border: 5px;
	border-bottom-color: #EA4A00;
	color: #FFFFFF;
	position: relative;
}

#menu {
	padding: 1em;
	background: rgba(207, 205, 140, 0.5);
}

dt {
	font-weight: 400;
}

dd {
	font-size: 80%;
	font-style: italic; 
	margin-left: 1em;
	margin-bottom: 1em;
}

#tagline {
	font-size: 120%;
	color: #EEEEEE;
	margin: 0;
	display: none;
}

#location {
	padding: 1em;
}

#about {
	padding: 1em;
}

footer {
	padding: 1em;
	background-color: #FC892F;
	border-top-style: solid;
	top-border: 5px;
	border-top-color: #EC791F;
	font-size: 80%;
	text-align: right;
}

.container-fluid {
	margin-top: 0px;
	margin-bottom: 0px;
}

ul {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

li {
	list-style-type: none;
	display: inline-block;
	margin-right: 1em;
}

nav, a:link {
	#FFFFFF;
}

/*
missing colored navigation links
*/
 

@media (min-width: 992px) {

	body {
		font-size: 18px;
		background-image: url('../img/background.jpg');
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}

	.container-fluid {
		margin-left: 30%;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-right: 20px;
	}

	#tagline {
		display: inline;
	}

	nav { 
		position: absolute;
		top: 10px;
		right: 10px;
	}	

}

